body{
    background: #F2F0E7;
    padding: 0;
    margin-bottom: 0%;
    text-decoration: none;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 49px;
    gap: 0.5px;
}
#menu{
    display: block;
    justify-content: center;
    margin-bottom: 1%;
    width: 200px;
    height: 700px;
    border-radius: 50px;
    background: #31411F;
    border: 1px solid #F3E8FF;
    box-shadow: 0 4px 12px rgba(126, 109, 143, 0.08);
}
#logo{
    margin-top: 15px;
    width: 90px;
    border-radius: 80px;

}
a{
    text-decoration: none;
    color: #A5AE9D;
    margin-top: 20px;
}
a:hover{
    color: #F2F0E7;
    font-size: 18px;
}
#navegacao{
    margin-top: 100px;
    margin-bottom: 80%;
    line-height: 10px;
    display: grid;
    gap: 10px;
}
#novoContato{
    border: 1px solid #31411F;
    border-radius: 50px;
    color:#31411F;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 800px;
    width: 150px;
    height: 30px;
}
.titulo{
    display:flex;
    flex-direction:column;
    gap:5px;
    margin-bottom:20px;
    margin-left: 40px;
    text-align: left;
}
#h1{
    font-size:40px;
    color:#31411F;
}
#p{
    color:#666;
    font-size:16px;
}
#principal{
    height: 90%;
    width: 1000px;
    margin-left: 5px;
    display:block;
    align-items:center;
    margin-top:30px;
}
.cadastro{
    display:grid;
    margin-top:30px;
}
#foto{
    display:none;
}

.avatar-container{
    position:relative;
    width:100px;
    height:100px;
    cursor:pointer;

}
#parte1{
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: center;
    height: 100px;
}
#dados{
    display: block;
    justify-content: center;
    width: 200px;
    height: 500px;
    margin-left: 20px;
}
.campo{
    display: flex;
    flex-direction: column;
    width: 300px;
}
#buscar{
    width: 500px;
    height: 55px;
    border: none;
    background: transparent;
}
#busca{
    width: 550px;
    height: 55px;
    border-radius: 10px;
    margin-left: 20px;
    border: 1.5px solid #a0b488;
}
#selectCurso{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    margin-left: 10px;
    border: 1.5px solid #a0b488;
    background: transparent;
}
#tabela{
    background-color: #a6bb8d;
    width: 950px;
}
#tabela th{
    background-color: #a0b488;
    color: #F2F0E7;
}
.lupa{
    color: #B8B8B8;
    margin-left: 10px;
}